@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Axsis Tecnologia<br />
    San Nicolas de los Garza Nuevo León, MX <br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@axsistec.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@axsistec.com</a>
</address>