@{
    ViewBag.Title = "Departamentos Home";
}

    <div class="jumbotron">
        <h1>Catálogo Departamentos</h1>
        <p class="lead"> Sistema CRUD (Create, Read, Update, Delete) para el manejo de Departamentos</p></br>
        <p class="lead"> Axsis Tecnologia - Diego Ambriz</p>
    </div>